@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey There! I'm John Brooks and welcome to my website!</h1>
    <p>This Website was constructed in .NET utilizing C# and MVC structure.</p>
</div>

<div>
    <p>
    Learn more about my projects at the links on the navbar at the top of the page!


    My favorite past times outside of web development include spending time with my wife and dogs, playing any sport you can name, and travelling when possible.


    Born in Jacksonville, as a child I lived in Atlanta, Brooklyn and of course Florida. Nowadays, I reside in the prideful state of Texas. I spend most days constructing web pages such as the ones you see before you.
         
    When I'm not coding, I spend time with my wife, dogs, fanily and friends. We enjoy grilling, hiking, and playing tennis. 



    </p>
</div>