<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="~/css/HomeStyling.css" rel="stylesheet" type="text/css">

@{
    ViewData["Title"] = "About Me";
}
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About Me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="text-center">
    <h1 class="display-4">Welcome to My World!</h1>
    <p>The backbone of this site was constructed in .NET utilizing C# and MVC structure.</p>
</div>

<div class="text-center">
    <p>
        When I'm not coding, I spend most of my time with my wife, dogs, family and friends. We enjoy grilling, hiking, and playing tennis.
    </p>
    <p>
        My favorite part about software development is the seemingly limitless knowledge to absorb! Knowing there is always something new to learn and always a process that can be made more efficient makes me eager to attack each day and helps me find fulfillment in my work. 
    </p>
    <p>
        My favorite languages to practice include jQuery, C#/.NET, and modern frameworks such as React or Angular. I'm a big proponent of JetBrains and all of their IDEs that I've utilized to date.
    </p>
    <p>
        My ultimate goal in my software engineering career is to lead a team or project one day. With the managerial skills I've honed over the years, coupled with the experience I will gain now and in the near future, I am confident I will become a vaulable leader in this industry.
    </p>
    <p>
        That's a little bit about me! At the top on the navbar, you can find the projects in my portfolio to review in detail.
    </p>
</div>
@* *@
@* <div class="carousel"> *@
@*     This needs to be replaced with an image carousel. *@
@* </div> *@
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>