@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey There! I'm John Brooks and welcome to my website!</h1>
    <p>This Website was constructed in .NET utilizing C# and MVC structure.</p>
</div>
