  @section Styles {
        <link rel="stylesheet" href="~/css/home.css">
    }
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

@{
    ViewData["Title"] = "John Brooks";
}
  
  <div class="card front">
    <div class="blue"></div>
    <div class="yellow"></div>
    <div class="pink"></div>
    <div class="dots"></div>
    <div class="personal-intro">
      <p>John Brooks</p>
      <p>Software Developer</p>
    </div>
  </div>
  <div class="card back">
    <div class="yellow"></div>
    <div class="top dots"></div>
    <div class="personal-info">
      <p>Full-Stack</p>
      <p>HTML/CSS/JS/jQuery</p>
      <p>Java/MySQL/SpringBoot</p>
      <p>C#/.NET Core</p>
      <p>React/Angular</p>
    </div>
    <div class="logo-links">
      <a href="https://www.github.com/johnbrooks92" alt="GitHub" target="_blank"><img src="img/GitHub-Mark-32px.png"></a>
      <a href="https://www.linkedin.com/in/john-brooks-/" alt="LinkedIn" target="_blank"><img src="img/linkedin_32px_black.png"></a>
      <a asp-area="" asp-controller="Projects" asp-action="Index" alt="My Projects" target="_blank"><img src="img/open-folder.png"></a>
      <a href="img/John.Brooks_Resume.pdf" download="John.Brooks_Resume.pdf"><img src="img/pdf-icon.png" alt="My Resume" width="32" height="32"></a>
      <a href="mailto:johnbrooks92@gmail.com" download="TBD"><img src="img/email-icon.png" alt="Email Me" width="32" height="32"></a>
      @* Update the above 2 hrefs for download file and email rendering *@
    </div>
    <div class="bottom dots"></div>
    <div class="pink"></div>
  </div>
  
  