  @section Styles {
        <link rel="stylesheet" href="~/css/home.css">
    }
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

@{
    ViewData["Title"] = "John Brooks";
}
  
  <div class="card front">
    <div class="blue"></div>
    <div class="yellow"></div>
    <div class="pink"></div>
    <div class="dots"></div>
    <div class="personal-intro">
      <p>John Brooks</p>
      <p>Software Developer</p>
    </div>
  </div>
  <div class="card back">
    <div class="yellow"></div>
    <div class="top dots"></div>
    <div class="personal-info">
      <p>John Brooks</p>
      <p>Software Developer</p>
      <p>Full-Stack</p>
      <p>HTML/CSS/JS</p>
      <p>Java/C#</p>
      <p>React/Angular</p>
      @* <a href="https://www.github.com/johnbrooks92"><p>GitHub: johnbrooks92</p></a> *@
    </div>
    <div class="bottom dots"></div>
    <div class="pink"></div>
  </div>
  