<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="~/css/HomeStyling.css" rel="stylesheet" type="text/css">

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey There! I'm John Brooks and welcome to my website!</h1>
    <p>This Website was constructed in .NET utilizing C# and MVC structure.</p>
    <p>Learn more about my projects at the links on the navbar at the top of the page!</p>
</div>

<div>
    <p>
        My favorite past times outside of web development include spending time with my wife and dogs, playing any sport you can name, and travelling when possible.

        Born in Jacksonville, as a child I lived in Atlanta, Brooklyn and of course Florida. Nowadays, I reside in the prideful state of Texas. I spend most days constructing web pages such as the ones you see before you.

        When I'm not coding, I spend time with my wife, dogs, family and friends. We enjoy grilling, hiking, and playing tennis.

        Check out some photos I've shared below!
    </p>
    <img src="~/img/Engagement-Photos.jpeg" />

    <p>
        Here is my wife, Haley. These photos were taken for our engagement back in 2015. We were mearried in 2018 and celebrate our 3rd anniversary this Summer!
    </p>


    <img src="~/img/Nova-Zola.jpeg" />

    <p>Here are our two dogs, Zola (age 5) and Nova (age 6). Zola is a Black and Tan Hound Mixed with a Lab, while Nova is a mixture of Border Collie and Australian Cattle Dog. These two enjoy walks, toys, and all the attention they can afford!</p>


    <img src="~/img/Milligan-Family.jpeg" />

    <p> My maternal Grandparents, mother, and the oldest of my 5 younger brothers.</p>

    <img src="~/img/Pittenger-Family.jpeg" />

    <p> My cousins and extended family in 2019.</p>

    <img src="~/img/Grandpa-USAF.jpeg" />

    <p>
        I'd like to take a minute to say thank you to all veterans who serve our country. While I did not serve, the military is entrenched in my family's history dating back to the 1800s. I am proud to say I was raised in a military family and I'm thankful for the sacrifice and hardwork to protect our citizens and our freedoms.
    </p>

    <img src="~/img/Packers-Game.jpeg" />

    <p>I love watching sports. Given the opportunity, I love to attend games and engage in being a fan!</p>

    <img src="~/img/Kobe-Tribute.jpeg" />
    <p>Even more so than watching sports, I enjoy competing. As I get ready to enter my 30s, I've slowed down a bit, but I still love to play soccer, basketball and tennis with family and friends.</p>

    <img src="~/img/WonderSpaces.jpeg" />
    <p>
        Here is a photo from a visit to WonderSpaces, an art attraction exhibit, in Austin, TX. 
    </p>

    <img src="~/img/John-Big-Bend.jpeg" />
    <p>Most recently, I went and explored Big Bend with childhood friends for a few days. Here is a glimpes of just one of the breathtaking views we saw.</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>